/* ArtGalleryNavbar.css */
.luxurious-navbar {
    background-color: #001f3f; /* Navy blue background color */
    padding: 20px 0 !important; /* Add some padding for spacing */
    border-bottom: 2px solid #ffd700; /* Gold border at the bottom */
    margin: 0 auto;

    
  }
  

  @media(max-width:600px) {
    .navbar {
      min-height: 500vh;
      align-items: flex-start;
    }
  }


  .navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: white !important; /* Gold text color */

  }


  
  .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff !important; /* White text color */
    margin-left: 20px;
    text-decoration: none ; /* Remove default underline */
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #ffc107 !important; /* Golden color on hover */
  }

  .navbar-header {
    background-color: #F16E10;
    border-bottom: 2px solid #ffc107; /* Gold underline on hover */

  }
  

  /* ArtGalleryNavbar.css */

/* ... Your existing styles ... */

/* Custom styling for dropdown items */
/* ArtGalleryNavbar.css */

/* ... Your existing styles ... */

/* Custom styling for dropdown items */
.navbar-dark .navbar-nav .nav-item.dropdown .nav-link,
.navbar-dark .navbar-nav .nav-item.dropdown .nav-link:hover,
.navbar-dark .navbar-nav .nav-item.dropdown .nav-link:focus,
.navbar-dark .navbar-nav .nav-item.dropdown .nav-link:active {
  color: #001f3f !important; /* Navy blue text color */
}

.navbar-dark .navbar-nav .nav-item.dropdown .nav-link:hover {
  background-color: #ffd700 !important; /* Gold background color on hover */
  color: #001f3f !important; /* Navy blue text color on hover */
}

/* ... Your existing styles ... */

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ffd9003b;
}


.navbar {
  font-family: 'EB Garamond', sans-serif;;
}